# 01.Python 기초 사용법

## 1. 변수선언 및 데이터 형

In [2]:
tot1 = 5
tot2 = 3.14
name = '홍길동'

In [3]:
print(tot1)
name

5

'홍길동'

In [4]:
type(tot1)

int

In [5]:
type(tot2)

float

In [6]:
type(name)

str

In [7]:
# 여러변수를 동시에 입력
start, end, step = 1, 10, 2

In [8]:
print(start, end, step)

1 10 2

## 2.데이터구조

### 2.1 리스트
- 순서를 가지는 객체 집합

In [9]:
num = [1, 2, 3, 4]
num

[1, 2, 3, 4]

In [10]:
# 인덱싱(0부터 시작)
num[0]

1

In [11]:
# 마지막은 제외
num[1:3]

[2, 3]

In [12]:
# 데이터 추가, 제거
num.append(5)
num

[1, 2, 3, 4, 5]

In [13]:
num.remove(5)
num

[1, 2, 3, 4]

In [14]:
min(num)

1

In [15]:
max(num)

4

### 2.2 튜플(tuple)
- 자료 추가 X, 속도 빠름

In [16]:
num = (1, 2, 3, 4)
num

(1, 2, 3, 4)

In [17]:
num[0]

1

In [18]:
min(num)

1

In [19]:
# 자료추가 안됨
num.append(5)

AttributeError: 'tuple' object has no attribute 'append'

### 
2.3 집합(set)
- 중복 X, index X, 자료추가 O)

In [ ]:
# 중복 안됨
num = {1, 2, 2, 3, 4, 4}
num

{1, 2, 3, 4}

In [ ]:
num.add(5)
num

{1, 2, 3, 4, 5}

In [ ]:
num.add(4)
num

{1, 2, 3, 4, 5}

In [ ]:
num.remove(5)
num

{1, 2, 3, 4}

In [ ]:
num[0]

TypeError: 'set' object is not subscriptable

### 2.4 사전(dictionary)
- key, value 형태로 저장 - index(X)

In [ ]:
student_dc = {1:"김길동", 10:"박길동"}

In [ ]:
student_dc

{1: '김길동', 10: '박길동'}

In [ ]:
# index 대신 key 형태로 사용
student_dc[0]

KeyError: 0

In [ ]:
student_dc[10]

'박길동'

In [ ]:
10 in student_dc

True

In [ ]:
student_dc["a-3"] = "이길동"

In [ ]:
student_dc

{1: '김길동', 10: '박길동', 'a-3': '이길동'}

In [ ]:
student_dc['a-3']

'이길동'

In [ ]:
student_dc['a-3'] = "홍길동"

In [ ]:
student_dc

{1: '김길동', 10: '박길동', 'a-3': '홍길동'}

### 2.5 자료형 변환

In [ ]:
num

{1, 2, 3, 4}

In [ ]:
num = list(num)

In [ ]:
num

[1, 2, 3, 4]

In [ ]:
num = tuple(num)

In [ ]:
num

(1, 2, 3, 4)

# 3.데이터 포멧팅

In [ ]:
print('이름은 ' + name +"입니다")

NameError: name 'name' is not defined

In [ ]:
# 문자형 형태로 변환 필요
print('tot1: ' + tot1)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('tot1의 타입은' + type(tot1))

TypeError: can only concatenate str (not "type") to str

In [ ]:
print('tot1: ' + str(tot1))
print('tot1의 타입은' + str(type(tot1)))

tot1: 5
tot1의 타입은<class 'int'>

In [ ]:
# 기본 출력
# ,로 연결하면 변환없이 출력 가능
print('tot1:', tot1) # 1칸 띄어쓰기 처리
print('tot1의 타입은', type(tot1), ' 입니다.')

tot1: 5
tot1의 타입은 <class 'int'>  입니다.

In [ ]:
# 문자열 포멧 이용
print('tot1: %d' % tot1)
print('tot1: %d' % tot2)
print('tot1: %0.2f' % tot2)
print('이름: %s' % name)
print('tot1의 값: %0.2f, 이름: %s' % (tot1,name) )

tot1: 5
tot1: 3
tot1: 3.14
이름: 홍길동
tot1의 값: 5.00, 이름: 홍길동

In [ ]:
# format 이용
print('tot1의 값: {0}'.format(tot1))
print('tot2의 값: {0:0.2f}, 이름: {1}'.format(tot2, name))

#.format 대산에 f 이용
print('tot2의 값: {0.2f}, 이름: {name}')
print(f'tot2의 값: {tot2:0.2f}, 이름: {name}')

tot1의 값: 5
tot2의 값: 3.14, 이름: 홍길동
tot2의 값: {0.2f}, 이름: {name}
tot2의 값: 3.14, 이름: 홍길동

In [ ]:
print('tot1의 값: {0}'.format(tot1))

tot2 = [1,2,3,4]

print('tot2의 값: {0}')