In [ ]:
!pip install pandas

'pip'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [8]:
import pandas as pd

flight_df = pd.read_csv('./data/00_1.flights.csv', encoding='cp949')
flight_df.head()

,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest
0,1,9,813.0,-9.0,1014.0,-5.0,EV,4691,EWR,DAY
1,9,4,2031.0,-9.0,2225.0,-34.0,EV,4085,EWR,OMA
2,3,8,2248.0,128.0,134.0,111.0,B6,629,JFK,HOU
3,7,23,743.0,0.0,1106.0,3.0,UA,1668,EWR,SFO
4,3,15,754.0,-5.0,916.0,-20.0,UA,393,EWR,ORD

In [9]:
type(flight_df)

pandas.core.frame.DataFrame

In [10]:
type(flight_df["month"])

pandas.core.series.Series

In [11]:
flight_df["month"].head(10)

0     1
1     9
2     3
3     7
4     3
5     2
6    10
7     5
8     9
9    11
Name: month, dtype: int64

In [12]:
flight_df.dtypes

month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
flight         int64
origin        object
dest          object
dtype: object

In [13]:
flight_df.shape

(10000, 10)

In [14]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   month      10000 non-null  int64
 1   day        10000 non-null  int64
 2   dep_time   9748 non-null   float64
 3   dep_delay  9748 non-null   float64
 4   arr_time   9736 non-null   float64
 5   arr_delay  9715 non-null   float64
 6   carrier    10000 non-null  object
 7   flight     10000 non-null  int64
 8   origin     10000 non-null  object
 9   dest       10000 non-null  object
dtypes: float64(4), int64(3), object(3)
memory usage: 781.4+ KB

In [15]:
flight_df.columns

Index(['month', 'day', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay',
       'carrier', 'flight', 'origin', 'dest'],
      dtype='object')

In [16]:
flight_df.columns.tolist()

['month',
 'day',
 'dep_time',
 'dep_delay',
 'arr_time',
 'arr_delay',
 'carrier',
 'flight',
 'origin',
 'dest']

In [17]:
flight_df.values

array([[1, 9, 813.0, ..., 4691, 'EWR', 'DAY'],
       [9, 4, 2031.0, ..., 4085, 'EWR', 'OMA'],
       [3, 8, 2248.0, ..., 629, 'JFK', 'HOU'],
       ...,
       [5, 9, 1359.0, ..., 209, 'JFK', 'LGB'],
       [3, 6, nan, ..., 5325, 'LGA', 'CHO'],
       [4, 29, 1644.0, ..., 586, 'EWR', 'CLE']],
      shape=(10000, 10), dtype=object)

In [18]:
flight_df.month

0        1
1        9
2        3
3        7
4        3
        ..
9995     8
9996    11
9997     5
9998     3
9999     4
Name: month, Length: 10000, dtype: int64

In [19]:
flight_df["month"]

0        1
1        9
2        3
3        7
4        3
        ..
9995     8
9996    11
9997     5
9998     3
9999     4
Name: month, Length: 10000, dtype: int64

In [20]:
flight_df.loc[:, ['month', 'day']]

      month  day
0         1    9
1         9    4
2         3    8
3         7   23
4         3   15
...     ...  ...
9995      8    3
9996     11   21
9997      5    9
9998      3    6
9999      4   29

[10000 rows x 2 columns]

In [21]:
# 여러 개 열을 연속으로 추출
# iloc(index로 추출)
#index = 0 으로 시작, 마지막은 +1

flight_df.iloc[:, 0:4]

      month  day  dep_time  dep_delay
0         1    9     813.0       -9.0
1         9    4    2031.0       -9.0
2         3    8    2248.0      128.0
3         7   23     743.0        0.0
4         3   15     754.0       -5.0
...     ...  ...       ...        ...
9995      8    3    1737.0        2.0
9996     11   21     743.0       -2.0
9997      5    9    1359.0        1.0
9998      3    6       NaN        NaN
9999      4   29    1644.0       14.0

[10000 rows x 4 columns]

In [22]:
#dataframe에서 행 선택하기

flight_df.iloc[0:5, :]

,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest
0,1,9,813.0,-9.0,1014.0,-5.0,EV,4691,EWR,DAY
1,9,4,2031.0,-9.0,2225.0,-34.0,EV,4085,EWR,OMA
2,3,8,2248.0,128.0,134.0,111.0,B6,629,JFK,HOU
3,7,23,743.0,0.0,1106.0,3.0,UA,1668,EWR,SFO
4,3,15,754.0,-5.0,916.0,-20.0,UA,393,EWR,ORD

In [23]:
flight_df = flight_df.drop('flight', axis=1)
flight_df.head()

   month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
0      1    9     813.0       -9.0    1014.0       -5.0      EV    EWR  DAY
1      9    4    2031.0       -9.0    2225.0      -34.0      EV    EWR  OMA
2      3    8    2248.0      128.0     134.0      111.0      B6    JFK  HOU
3      7   23     743.0        0.0    1106.0        3.0      UA    EWR  SFO
4      3   15     754.0       -5.0     916.0      -20.0      UA    EWR  ORD

In [24]:
flight_df[(flight_df.month == 1)].head()

    month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
0       1    9     813.0       -9.0    1014.0       -5.0      EV    EWR  DAY
14      1   26     555.0       -6.0     931.0       10.0      UA    JFK  LAX
29      1   25    1723.0       -6.0    2111.0       25.0      DL    EWR  SLC
72      1    4    1128.0       -5.0    1304.0       -5.0      EV    EWR  RDU
73      1    9    2019.0      -11.0    2159.0       -7.0      FL    LGA  CAK

In [25]:
flight_df[(flight_df.month == 1) & (flight_df.day == 31)].head()

      month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
494       1   31    1124.0       -6.0    1443.0       13.0      DL    JFK  MCO
1070      1   31     804.0        5.0    1026.0        1.0      UA    LGA  DEN
1343      1   31     651.0       17.0    1028.0       53.0      UA    EWR  MIA
1846      1   31    1533.0       -2.0    1843.0       -7.0      AA    LGA  DFW
1959      1   31    1534.0       -6.0    1655.0      -21.0      9E    JFK  ROC

In [26]:
flight_df[(flight_df.month == 1) | (flight_df.month == 2)].head()

    month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
0       1    9     813.0       -9.0    1014.0       -5.0      EV    EWR  DAY
5       2   22    1723.0        8.0    1830.0        5.0      EV    EWR  DCA
12      2   16    1857.0       -1.0    2201.0        5.0      UA    EWR  PBI
14      1   26     555.0       -6.0     931.0       10.0      UA    JFK  LAX
29      1   25    1723.0       -6.0    2111.0       25.0      DL    EWR  SLC

In [27]:
flight_df[flight_df['dep_delay'] < 0].head()

   month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
0      1    9     813.0       -9.0    1014.0       -5.0      EV    EWR  DAY
1      9    4    2031.0       -9.0    2225.0      -34.0      EV    EWR  OMA
4      3   15     754.0       -5.0     916.0      -20.0      UA    EWR  ORD
6     10   23     919.0      -10.0    1234.0        0.0      AA    EWR  DFW
8      9   12    1011.0       -4.0    1233.0       21.0      US    JFK  CLT

In [33]:
flight_df.query('dep_delay < 0').head()

   month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
0      1    9     813.0       -9.0    1014.0       -5.0      EV    EWR  DAY
1      9    4    2031.0       -9.0    2225.0      -34.0      EV    EWR  OMA
4      3   15     754.0       -5.0     916.0      -20.0      UA    EWR  ORD
6     10   23     919.0      -10.0    1234.0        0.0      AA    EWR  DFW
8      9   12    1011.0       -4.0    1233.0       21.0      US    JFK  CLT

In [38]:
filter = (flight_df['dep_delay'] < 0) & (flight_df['origin'] == "EWR")
flight_df.loc[filter, ['dep_delay', 'origin']]

      dep_delay origin
0          -9.0    EWR
1          -9.0    EWR
4          -5.0    EWR
6         -10.0    EWR
12         -1.0    EWR
...         ...    ...
9968       -2.0    EWR
9979       -2.0    EWR
9982       -4.0    EWR
9989       -7.0    EWR
9996       -2.0    EWR

[1730 rows x 2 columns]

In [42]:
flight_df.sort_values(by="dep_delay", ascending= False)

      month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
9980      8    6    1846.0      411.0    2110.0      410.0      WN    LGA  DEN
5686      5   22     146.0      406.0     255.0      378.0      UA    LGA  ORD
5281      9   12    2125.0      386.0    2258.0      396.0      B6    JFK  BTV
2652      3    8    1746.0      376.0    1938.0      359.0      DL    LGA  MSP
2679     12    5    1548.0      373.0    1712.0      357.0      WN    LGA  MDW
...     ...  ...       ...        ...       ...        ...     ...    ...  ...
9748      3    6       NaN        NaN       NaN        NaN      AA    LGA  ORD
9768      4   10       NaN        NaN       NaN        NaN      US    LGA  BOS
9805      1   30       NaN        NaN       NaN        NaN      EV    EWR  PIT
9971      3    8       NaN        NaN       NaN        NaN      EV    EWR  BTV
9998      3    6       NaN        NaN       NaN        NaN      EV    LGA  CHO

[10000 rows x 9 columns]

In [43]:
flight_df[(flight_df.month == 12)].sort_values("day", ascending=True)

      month  day  dep_time  dep_delay  arr_time  arr_delay carrier origin dest
369      12    1     554.0       -6.0     712.0       -7.0      EV    LGA  IAD
9288     12    1    1920.0       -5.0    2226.0      -19.0      AA    LGA  MIA
9617     12    1    1043.0        8.0    1256.0      -14.0      EV    EWR  JAX
9706     12    1    1558.0       41.0    1743.0       40.0      EV    EWR  STL
575      12    1    1453.0       -3.0    1723.0      -26.0      UA    EWR  MCO
...     ...  ...       ...        ...       ...        ...     ...    ...  ...
2056     12   31     910.0        1.0    1036.0       -9.0      UA    EWR  ORD
6903     12   31    1542.0       -3.0    1935.0       15.0      AA    JFK  LAX
538      12   31     819.0       -1.0    1309.0      -32.0      DL    JFK  STT
6728     12   31    1708.0       -1.0    2030.0       10.0      B6    JFK  FLL
9694     12   31    2054.0       -7.0      22.0       36.0      B6    LGA  MCO

[819 rows x 9 columns]

In [45]:
flight_df['gain'] = flight_df['dep_delay'] - flight_df['arr_delay']

flight_df

,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,origin,dest,gain
0,1,9,813.0,-9.0,1014.0,-5.0,EV,EWR,DAY,-4.0
1,9,4,2031.0,-9.0,2225.0,-34.0,EV,EWR,OMA,25.0
2,3,8,2248.0,128.0,134.0,111.0,B6,JFK,HOU,17.0
3,7,23,743.0,0.0,1106.0,3.0,UA,EWR,SFO,-3.0
4,3,15,754.0,-5.0,916.0,-20.0,UA,EWR,ORD,15.0
...,...,...,...,...,...,...,...,...,...,...
9995,8,3,1737.0,2.0,2025.0,-5.0,AA,JFK,IAH,7.0
9996,11,21,743.0,-2.0,1002.0,-10.0,DL,EWR,ATL,8.0
9997,5,9,1359.0,1.0,1631.0,-33.0,B6,JFK,LGB,34.0
9998,3,6,NaN,NaN,NaN,NaN,EV,LGA,CHO,NaN
9999,4,29,1644.0,14.0,1806.0,-5.0,UA,EWR,CLE,19.0

In [46]:
flight_df.groupby('origin')['dep_delay'].mean()

origin
EWR    15.034483
JFK    11.202257
LGA    10.524015
Name: dep_delay, dtype: float64