In [1]:
!pip install pandas

'pip'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [2]:
import pandas as pd

weather_df = pd.read_csv("./data/00_2.weather.csv")

weather_df.head(10)

  origin  year  month  day  hour   temp   dewp  humid
0    EWR  2013      1    9    15  48.92  37.04  63.39
1    JFK  2013      3    3    22  30.02  15.08  53.29
2    LGA  2013     11   24     4  24.98   6.98  45.74
3    EWR  2013      4   17     9  57.92  42.08  55.47
4    JFK  2013      5   23     5  62.96  60.98  93.25
5    LGA  2013     12    9     9  37.04  33.98  88.57
6    LGA  2013      3   16    23  35.06  26.96  72.03
7    EWR  2013     12   12    21  21.92   6.98  52.01
8    JFK  2013     11    5    22  48.92  41.00  73.99
9    LGA  2013      1   10    17  44.96  24.98  45.15

In [3]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   origin  1000 non-null   object
 1   year    1000 non-null   int64
 2   month   1000 non-null   int64
 3   day     1000 non-null   int64
 4   hour    1000 non-null   int64
 5   temp    1000 non-null   float64
 6   dewp    1000 non-null   float64
 7   humid   1000 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 62.6+ KB

In [ ]:
filter = (weather_df.origin == 'EWR') | (weather_df.origin == 'JFK')

weather_df.loc[filter, ['origin', 'year', 'month', 'day', 'hour', 'temp']]

    origin  year  month  day  hour   temp
0      EWR  2013      1    9    15  48.92
1      JFK  2013      3    3    22  30.02
3      EWR  2013      4   17     9  57.92
4      JFK  2013      5   23     5  62.96
7      EWR  2013     12   12    21  21.92
..     ...   ...    ...  ...   ...    ...
991    EWR  2013      4    3    13  46.94
993    JFK  2013      6   28    10  78.98
996    EWR  2013      8    4    12  80.06
997    EWR  2013      3   28    11  50.00
998    EWR  2013      9   27     3  55.04

[661 rows x 6 columns]

In [ ]:
weather_df['temp'] = (weather_df['temp'] - 32) / 1.8
weather_df

    origin  year  month  day  hour  temp   dewp  humid
0      EWR  2013      1    9    15   9.4  37.04  63.39
1      JFK  2013      3    3    22  -1.1  15.08  53.29
2      LGA  2013     11   24     4  -3.9   6.98  45.74
3      EWR  2013      4   17     9  14.4  42.08  55.47
4      JFK  2013      5   23     5  17.2  60.98  93.25
..     ...   ...    ...  ...   ...   ...    ...    ...
995    LGA  2013      3    1     0   3.9  30.02  69.86
996    EWR  2013      8    4    12  26.7  55.04  42.16
997    EWR  2013      3   28    11  10.0  26.96  42.73
998    EWR  2013      9   27     3  12.8  50.00  83.08
999    LGA  2013      7   10     3  24.4  69.98  81.85

[1000 rows x 8 columns]

In [ ]:
weather_df.groupby('month')['temp'].mean().sort_values(ascending= False)

month
7     27.139130
8     24.456790
6     21.630667
9     20.341463
5     17.090698
10    16.396203
4     10.433803
11     8.021839
3      4.439000
12     4.428049
1      1.600000
2      1.028767
Name: temp, dtype: float64