# 16. Logistic Regression (분류)

## 설정

### 설정

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd

import pingouin as pg
from scipy import stats
import statsmodels.api as sm

In [ ]:
!apt-get install -y fonts-nanum
!fc-chache -fv
!rm ~/.cache/matplotlib -rf

'apt-get'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'fc-chache'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'rm'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [ ]:
sns.set_theme(style="darkgrid")
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

### 데이터 불러오기 + 데이터 전처리

In [ ]:
df = pd.read_csv('./data/', encoding = 'cp949')
df.head()

     col   fat
0  108.4  44.1
1  110.4  40.9
2  127.1  44.3
3  128.2  50.5
4  131.7  77.3

In [ ]:
# 행, 열 개수 세기

df.shape

(60, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     60 non-null     float64
 1   fat     60 non-null     float64
dtypes: float64(2)
memory usage: 1.1 KB

In [ ]:
df.describe().round(2).T

     count    mean    std    min     25%    50%     75%    max
col   60.0  169.25  25.91  108.4  149.60  168.7  185.68  229.4
fat   60.0  105.53  50.59   40.9   64.53   98.8  137.85  228.2